<div class="p-5 flex flex-col items-center">
  <div class="my-4">
    <h2 class="text-2xl font-bold my-5 text-center py-2">مركز إدارة المحتوى</h2>

    <div class="tab-group p-2 flex justify-center items-center">
      <a
        class="tab"
        routerLink="create-post"
        routerLinkActive="active-tab"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="pi pi-upload mx-2"></i>انشاء منشور جديد</a
      >
      <a
        class="tab"
        routerLink="manage-posts"
        routerLinkActive="active-tab"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="pi pi-bell mx-2"></i>ادارة المشروعات</a
      >
    </div>
  </div>

  <div class="md:px-25 w-full">
    <router-outlet></router-outlet>
  </div>
</div>
